{{/*
  Scope: scores
  */}}

<div style="overflow: auto">
  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th style="min-width:22rem">試合</th>
        <th style="min-width:18rem">対戦相手</th>
        <th style="min-width:8rem">スコア</th>
        <th style="min-width:4rem">勝敗</th>
        <th style="min-width:22rem">備考</th>
      </tr>
    </thead>
    <tbody>
      {{ range . }}
        <tr>
          <td>{{ .date }}</td>
          <td>{{ .name }}</td>
          <td>{{ .opponent }}</td>
          <td>{{ .score }}</td>
          <td>{{ .win }}</td>
          <td>{{ .memo }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
