{{ define "main" }}

<main>
  <div class="bg-primary bg-gradient text-white py-4">
    <div class="container">
      <p class="text-light mb-1">{{ partial "date.html" .Date }}</p>
      <h1 class="h2">{{.Title}}</h1>
      <p>{{ .Description }}</p>
      {{ if .Params.image }}
        {{ partial "progressive-image.html" (dict "context" . "src" .Params.image "alt" .Title) }}
      {{ end }}
    </div>
  </div>

  <div class="container cms py-4">
    {{ .Content }}

    <aside class="mt-4">
      {{- partial "page-tags.html" . -}}
    </aside>
  </div>
</main>

{{ end }}
