{{ define "main" }}

<main>
  <div class="bg-primary bg-gradient text-white py-4">
    <div class="container">
      <h1 class="h2">{{.Title}}</h1>
      <p class="mb-0">{{ .Description }}</p>

      {{ if .Params.image }}
        <div style="margin-top:1rem">
          {{ partial "progressive-image.html" (dict "context" . "src" .Params.image "alt" .Title) }}
        </div>
      {{ end }}
    </div>
  </div>

  <div class="container cms">
    {{ with .Content }}
      <div class="py-4">
        {{ . }}
      </div>
    {{ end }}

    {{ with .Params.member_table_link }}
      {{ partial "gdoc-link" (dict "src" . "class" "mn-MemberTable") }}
    {{ end }}

    {{ with .Params.score_table_link }}
      {{ partial "gdoc-link" (dict "src" . "class" "mn-ScoreTable") }}
    {{ end }}
  </div>
</main>

{{ end }}
